/* 1. VARIABLES CSS */
:root {
    --color-primario: #ff6347;
    --color-fondo: #f0f0f0;
    --color-texto: #333;
    --color-blanco: #fff;
    --color-borde: #ddd;
    --color-focus: #ff4500;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif; 
}

body {
    background-color: var(--color-fondo);
}

.container{
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 100vh;
}

.login-form{
    display: flex;
    flex-direction: column;
    background-color: var(--color-blanco);
    padding: 35px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; 
}

.login-form h1 {
    color: var(--color-primario);
    text-align: center;
    letter-spacing: 2px;
    font-size: 28px;
    margin-bottom: 10px; 
}

.login-form h2 {
    color: var(--color-texto);
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px; 
}

label {
    color: var(--color-texto);
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    border: 2px solid var(--color-borde);
    border-radius: 5px; 
    font-size: 14px;
    margin-bottom: 15px; 
}

/* --- ARREGLO DE LA PARTE INFERIOR --- */

.btn-submit {
    background-color: var(--color-primario);
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
    margin-top: 10px;
}

.btn-submit:hover {
    background-color: var(--color-focus);
}

.register-text {
    text-align: center;
    margin: 20px 0;
    font-size: 14px;
}

.register-text a {
    color: var(--color-primario);
    text-decoration: none;
    font-weight: bold;
}

.form-footer {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid var(--color-borde);
    text-align: center;
    font-size: 12px;
    color: #777;
}

.form-footer a {
    color: var(--color-texto);
    display: inline-block;
    margin-top: 5px;
}

input:focus {
    border: 2px solid lightblue;
    outline: none;
    background-color: var(--color-fondo); 
}